@model test5.Models.UserProfile

@{
    ViewBag.Title = "EditProfile";
}

<h2>EditProfile</h2>







@using (Html.BeginForm("EditProfile", "User", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
   @Html.AntiForgeryToken()

    <img src="@Url.Content(Model.ImageUrl)" alt="No Image" style="height:200px" class="img-responsive" />


    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="file" name="Picture" class="img-responsive" />
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Update Picture" name="submit" class="btn btn-default" />
        </div>
    </div>



    <div class="form-horizontal">
        <h4>User Profile</h4>
        @ViewBag.Message
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.password, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.password, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.password, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ConfirmPassword, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
            </div>
        </div>





        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Update Password" class="btn btn-default" name="submit" />
            </div>
        </div>
    </div>
}


@using (Html.BeginForm("Logout", "User", FormMethod.Post, new { id = "LogoutForm" }))
{

}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
